.CreatePost{
    width: 100%;
    background-color: #faefef;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0px;
    border: 1px solid #d5d5d5;
    &__form{
    }
    &__answer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ccc;
        cursor: pointer;
        padding: 3px;
        width: 125px;
        border-radius: 10px;
        img{
            width: 18px;
            margin-right: 4px;
        }
        span{
            font-size: 15px;
        }
    }
    &__avatar{
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 200px;
    }
    &__input{
        max-width: 100%;
        min-width: 100%;
        display: block;
        padding: 13px 16px 13px 20px;
        outline: none;
        border: 1px solid #ccc;
        font-size: 15px;
        font-weight: 500;
        color: #000;
        resize: none;
        margin: 5px 0px;
        border-radius: 11px;
    }
    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btn{
        background-color: #1DA1F2;
        border: none;
        color: #fff;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 25px;
        cursor: pointer;
    }
}