.CreatePost{
    width: 100%;
    background-color: #faefef;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0px;
    border: 1px solid #d5d5d5;
    &__form{
    }
    &__answer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__avatar{
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 200px;
    }
    &__input{
        border: none;
        outline: none;
        margin-left: 10px;
        font-size: 21px;
        resize: none;
        min-width: 100%;
    }
    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btn{
        background-color: #1DA1F2;
        border: none;
        color: #fff;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 25px;
        cursor: pointer;
    }
}