.Button {
    background-color: #1DA1F2;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
}

.ButtonDispable {
    background-color: #ccc;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;

}